.joke{
display: flex;
border-bottom: 1px solid #eee;
padding: 1rem;
font-weight: 400;
}
.joke-buttons{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 1rem;
  width: 15%;
}
.fas{
  font-size: 1.5rem;
  cursor: pointer;
}

.fa-arrow-up:hover{
  animation: moverUP 0.5s ease-in-out infinite;
}
.fa-arrow-down:hover{
  animation: moverDown 0.5s ease-in-out infinite;
}
.joke-votes{
  border-radius: 50%;
  border: 3px solid red;
  font-size: 1.1em;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  margin:0px 0.3rem;
}
.joke-text{
  width: 70%;
  font-size: 1.1rem;
}
.joke-smiley{
  margin-left: auto;
  font-size: 1.6rem;
}
.joke-smiley:hover, .jokelist-sidebar img:hover{
  animation: shake 2s ease-in-out infinite;
}

@keyframes shake {
  0% { transform:  rotate(0deg); }
  30% { transform: rotate(20deg); }
  60% { transform: rotate(0deg); }
  80% { transform: rotate(10deg); }
  100% { transform:  rotate(0deg); }
}

@keyframes moverUP {
  0% { transform: translateY(0); }
  100% { transform: translateY(-2px); }
 
}
@keyframes moverDown {
  0% { transform: translateY(0); }
  100% { transform: translateY(2px); }
}